--text: #e2e3f3;
--background: #070817;
--primary: #9096e4;
--secondary: #181f8c;
--accent: #3f4be9;


--text: #0c0d1d;
--background: #e8e9f8;
--primary: #1b206f;
--secondary: #737be7;
--accent: #1622c0;